# general modules
django >3.2,<3.3
python-decouple
Pillow
djangorestframework

# 3rd party modules
markdown       
django-filter
drf-yasg[validation]
djangorestframework-simplejwt
djoser
Faker
django-cors-headers

# deployment modules


# email 3rd party
django-mail-templated

# refactoring and tests
black
flake8
pytest
pytest-django


# background processing and cache
celery
redis
django-redis